body{
    background-color:aqua;
    display:flex;
    flex-direction: column;
    align-items: center;
    
}
h1{
    text-align: center;
}

table{
    background-color:white;
    margin:auto;
    margin-bottom:50px
}

button{
    background-color: green;
    color:white;
}
.title{
    font-weight: bold;
}

.in{
    width:100%
}

#table2{
    width : 400px
}